#
# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
#
node_modules

#
# NPM log should not be shared
#
npm-debug.log

#
# IntelliJ IDEA files
#
*.iml
*.ipr
*.iws
.idea
